<!DOCTYPE html>
<html>
    <head>
        <title>Simple Server Monitoring using Python</title>
        <style>
            .apache-log {
                width: 1150px;
                height: 200px;
                background: #F5F5F5 none repeat scroll 0% 0%;
                overflow-y: scroll;
                font-size:11px;
                margin: 10px;
            }
        </style>
    </head>
    <body>
        <h1>Basic Server Monitor</h1>
        <div id="dashboard">
            <table id="cpu-mem" style="margin:10px;width:1000px">
                <thead>
                    <tr>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    </tr>
                </tbody>
            </table>
            <!--<div class="apache-log" id="apache-access-log">
            </div>
            <div class="apache-log" id="apache-error-log"> 
            </div> -->
        </div>
        <script src="{{ url_for('static', filename='vendors/jquery-1.9.1.min.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='vendors/socket.io.min.js') }}" type="text/javascript"></script>
        <script type="text/javascript">
            var username = "";
            var socket = io.connect('http://localhost:5000/');

            socket.on('receiveMessage', function(data){
                if (data.type == 'apache_access_log')
                {
                    $('#apache-access-log').html("<pre>"+data.msg+"</pre>");
                }
                else if (data.type == 'apache_error_log')
                {
                    $('#apache-error-log').html("<pre>"+data.msg+"</pre>");
                }
                else if (data.type == 'cpu')
                {
                    cpu_len  = data.msg.length;
                    tb_head_elem = "";
                    tb_body_elem = "";
                    for (var i = 1; i <= cpu_len; i++)
                    {
                        tb_head_elem += "<td>CPU "+i+"</td>";
                        tb_body_elem += "<td>"+data.msg[i-1]+" %</td>";
                    }

                    $('#cpu-mem thead tr').html(tb_head_elem);
                    $('#cpu-mem tbody tr').html(tb_body_elem);
                }
                else if (data.type == 'mem')
                {
                    $('#cpu-mem thead tr').append('<td>Memory</td>');
                    $('#cpu-mem tbody tr').append('<td>'+data.msg+' %</td>');
                }
            });
        </script>
    </body>
</html>
